<?xml version="1.0"?>
<!--
/**
 * @category   Customer Testimonial
 * @package    Vishal_Testimonial
 * @copyright  Copyright (c) 2016 Vishal Lakhani
 * @author     Vishal Lakhani <vishal.lakhani@yahoo.co.in>
 */
-->
<config>
  <modules>
    <Vishal_Testimonial>
      <version>0.1.0</version>
    </Vishal_Testimonial>
  </modules>
  <frontend>
    <routers>
      <testimonial>
        <use>standard</use>
          <args>
            <module>Vishal_Testimonial</module>
            <frontName>testimonial</frontName>
          </args>
      </testimonial>
    </routers>
	<layout>
	  <updates>
		<testimonial>
		  <file>testimonial.xml</file>
		</testimonial>
	  </updates>
	</layout>
	<events>
		<customer_login>
			<observers>
				 <setRedirectOnLogin>
					  <class>testimonial/observer</class>
					  <method>setRedirectOnLogin</method>
				 </setRedirectOnLogin>
			</observers>
		</customer_login>
	</events>
  </frontend>
  <global>
    <helpers>
      <testimonial>
        <class>Vishal_Testimonial_Helper</class>
      </testimonial>
    </helpers>
	<blocks>
	  <testimonial>
		<class>Vishal_Testimonial_Block</class>
	  </testimonial>
	</blocks>
	<models>
	  <testimonial>
		<class>Vishal_Testimonial_Model</class>
		<resourceModel>testimonial_mysql4</resourceModel>
	  </testimonial>
	  <testimonial_mysql4>
		<class>Vishal_Testimonial_Model_Mysql4</class>
		<entities>		  
			  <vishaltestimonial>
				<table>testimonial</table>
			  </vishaltestimonial>
        </entities>
	  </testimonial_mysql4>
	</models>
	<resources>
	  <testimonial_setup>
		<setup>
		  <module>Vishal_Testimonial</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </testimonial_setup>
	  <testimonial_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </testimonial_write>
	  <testimonial_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </testimonial_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <testimonial>
	    <use>admin</use>
		<args>
		  <module>Vishal_Testimonial</module>
		  <frontName>admin_testimonial</frontName>
		</args>
	  </testimonial>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <testimonial module="testimonial">
		<title>Testimonial</title>
		<sort_order>100</sort_order>
		<children>
		  <vishaltestimonial module="testimonial">
		    <title>Manage Testimonial</title>
			<sort_order>0</sort_order>
			<action>admin_testimonial/adminhtml_testimonial</action>
		  </vishaltestimonial>
		</children>
	  </testimonial>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<testimonial translate="title" module="testimonial">
			  <title>Testimonial</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <vishaltestimonial translate="title">
			<title>Manage Testimonial</title>
			<sort_order>0</sort_order>
		  </vishaltestimonial>
			  </children>
			</testimonial>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<testimonial>
		  <file>testimonial.xml</file>
		</testimonial>
	  </updates>
	</layout>
  </adminhtml>
</config> 